
{% extends "layout.twig" %}
{% block content %}
    <div class="raw">

        <div class="container">
            <h1>Generateur des projets</h1>
            <div>
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" id="myTabs" role="tablist">
                    <li role="presentation" class="active"><a href="#gen" aria-controls="gen" role="tab" data-toggle="tab">Generateur</a></li>
                    <li role="presentation" ><a href="#home" aria-controls="home" role="tab" data-toggle="tab">En savoir plus</a></li>
                </ul>
                <!-- Tab panes -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane fade in active" id="gen">
                        <form id="form" role="form" action="" method="POST">

                            <div class="form-group {% if errors is not null and errors.has("USER") %}has-error has-feedback{% elseif (POST.USER)%}has-success has-feedback {% endif %}">
                                <label for="pwd">User:</label>
                                <input type="text" class="form-control {{(POST.USER) ? 'success alert-success'  : '' }} "  name="USER" value="{{ (POST.USER) ? POST.USER : '' }}">
                                {% if errors is not null and errors.has("USER") %}
                                    <span class="glyphicon glyphicon-remove form-control-feedback"></span>
                                {% elseif (POST.USER)%}
                                    <span class="glyphicon glyphicon-ok form-control-feedback"></span>
                                {% endif %}

                                {% if errors is not null and errors.has("USER") %}<span class="help-block alert alert-danger">{{ errors.get("USER") }}</span>{% endif %}
                            </div>

                            <div class="form-group {% if errors is not null and errors.has("HOST") %}has-error has-feedback{% elseif (POST.HOST)%}has-success has-feedback {% endif %}">
                                <label for="pwd">Host:</label>
                                <input type="text" class="form-control {{(POST.HOST) ? 'success alert-success'  : '' }}" name="HOST"value="{{ (POST.HOST) ? POST.HOST : '' }}" >
                                {% if errors is not null and errors.has("HOST") %}
                                    <span class="glyphicon glyphicon-remove form-control-feedback"></span>
                                {% elseif (POST.HOST)%}
                                    <span class="glyphicon glyphicon-ok form-control-feedback"></span>
                                {% endif %}

                                {% if errors is not null and errors.has("HOST") %}<span class="help-block alert alert-danger">{{ errors.get("HOST") }}</span>{% endif %}
                            </div>

                            <div class="form-group {% if (POST.PASSWORD == "" )%}has-error has-feedback{% elseif (POST.PASSWORD)%}has-success has-feedback {% endif %}">
                                <label for="pwd">Mot de passe:</label>
                                <input type="password" class="form-control {{(POST.PASSWORD) ? 'success alert-success'  : '' }}" name="PASSWORD" value="{{ (POST.PASSWORD) ? POST.PASSWORD : '' }}">
                                
                                {% if (POST.PASSWORD == "" ) %}
                                    <span class="glyphicon glyphicon-remove form-control-feedback"></span>
                                {% elseif (POST.PASSWORD)%}
                                    <span class="glyphicon glyphicon-ok form-control-feedback"></span>
                                {% endif %}
                                {% if errors is not null and errors.has("PASSWORD") %}<span class="help-block alert alert-danger">{{ errors.get("PASSWORD") }}</span>{% endif %}
                            </div>

                            <div class="form-group {% if errors is not null and errors.has("DBNAME") %}has-error has-feedback{% elseif (POST.DBNAME)%}has-success has-feedback {% endif %} ">
                                <label for="pwd">Nom de la base des données :</label>
                                <input type="text" class="form-control {{(POST.DBNAME) ? 'success alert-success'  : '' }} " name="DBNAME" value="{{ (POST.DBNAME) ? POST.DBNAME : '' }}">
                                 {% if errors is not null and errors.has("DBNAME")%}
                                    <span class="glyphicon glyphicon-remove form-control-feedback"></span>
                                {% elseif (POST.DBNAME)%}
                                    <span class="glyphicon glyphicon-ok form-control-feedback"></span>
                                {% endif %}
                                {% if errors is not null and errors.has("DBNAME") %}<span class="help-block alert alert-danger">{{ errors.get("DBNAME") }}</span>{% endif %}
                            </div>
                            
                            <div class="form-group {% if errors is not null and errors.has("PATH") %}has-error has-feedback{% elseif (POST.PATH)%}has-success has-feedback {% endif %}">
                                <label for="pwd">Chemin fichier:</label>
                                <input type="text" class="form-control {{(POST.PATH) ? 'success alert-success'  : '' }}" name="PATH" value="{{ (POST.PATH) ? POST.PATH : '' }}">
                                <span class="help-block">Syntaxe : Path/FOLDER-NAME</span>
                                 {% if errors is not null and errors.has("PATH")%}
                                    <span class="glyphicon glyphicon-remove form-control-feedback"></span>
                                {% elseif (POST.PATH)%}
                                    <span class="glyphicon glyphicon-ok form-control-feedback"></span>
                                {% endif %}
                                {% if errors is not null and errors.has("PATH") %}<span class="help-block alert alert-danger">{{ errors.get("PATH") }}</span>{% endif %}
                            </div>
                            
                            <div class="checkbox">
                                <label><input type="radio" name="CATEGORIE" value="1" checked >Structure avec Twig & POO</label>

                                <label><input type="radio" name="CATEGORIE" value="2">Structure en POO</label>

                                <label><input type="radio" name="CATEGORIE" value="3">Seulment les classe & Managers</label>
                            </div>
                            {% if errors is not null and errors.has("DBERROR") %}<span class="help-block alert alert-danger">{{ errors.get("DBERROR") }}</span>{% endif %}
                            <p>Veuilliez vérifiée vos informations avant de valider</p>
                            <input name="submit" type="submit" class="btn btn-default">
                        </form>
                    </div>
                    <div role="tabpanel" class="tab-pane fade " id="home">...</div>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function () {
            $('#myTabs a').click(function (e) {
                e.preventDefault()
                $(this).tab('show')
            });
        });
    </script>
{% endblock %}